.submit-button {
  background: var(--primary-background);
  color: var(--primary-color);
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  padding: 10px 20px;
  transition: 100ms ease all;
}

.submit-button:hover {
  background: var(--primary-hover-background);
  color: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-border);
}

button {
  background: #343a40;
  color: #ffffff;
  border: 1px solid #343a40;
}

button:hover {
  background: #23272b;
  color: #ffffff;
  border: 1px solid #1d2124;
}
