name: Node.js Package
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build
      - run: if [ -d "lib" ]; then echo "lib directory exists"; else echo "lib directory does not exist"; fi
      - name: Upload lib directory
        uses: actions/upload-artifact@v3
        with:
          name: lib
          path: lib/
  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Download lib directory
        uses: actions/download-artifact@v3
        with:
          name: lib
          path: lib/
      - run: npm ci
      - run: ls -R lib
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  publish-github:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
      - name: Download lib directory
        uses: actions/download-artifact@v3
        with:
          name: lib
          path: lib/
      - run: npm ci
      - run: ls -R lib
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
